.step3-container {
  padding: 1.5rem;
  max-width: 100%;
  font-family: var(--poppins);
}

.step3-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.step3-description {
  color: var(--blue); /* Usamos el mismo color del primer CSS */
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.step3-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* Dos columnas */
  gap: 1rem;
  background-color: var(--light); /* Usamos el fondo claro */
  padding: 1.5rem;
  border: 1px solid var(--dark-grey); /* Bordes en gris oscuro */
  border-radius: 0.5rem;
}

.step3-form-group {
  display: flex;
  flex-direction: column;
}

.step3-form-group select {
  padding: 0.75rem;
  border: 1px solid var(--dark-grey); /* Bordes en gris oscuro */
  border-radius: 0.5rem;
  font-size: 1rem;
}

.step3-form-group input::placeholder,
.step3-form-group select {
  color: var(--secondary-color); /* Los placeholders en gris oscuro */
}

.step3-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.step3-button {
  background-color: var(--blue); /* Fondo azul para el botón */
  color: var(--light); /* Texto blanco (fondo claro) */
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.step3-button:hover {
  background-color: var(--dark-grey); /* Hover con gris oscuro */
}
