.step2-container {
    padding: 1.5rem;
    max-width: 100%;
    font-family: var(--poppins);
  }
  
  .step2-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .step2-description {
    color: var(--blue);
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  .step2-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 columnas */
    gap: 1rem;
  }
  
  .step2-card {
    border: 1px solid var(--dark-grey);
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--light);
  }
  
  .step2-card.selected {
    border-color: var(--blue);
    background-color: #b1bfe478; /* Fondo amarillo para cards seleccionadas */
  }
  
  .step2-card h3 {
    font-weight: 600;
    color: var(--blue);
    display: flex;
    align-items: center;
  }
  
  .step2-card input[type="checkbox"] {
    margin-right: 0.5rem;
    accent-color: var(--blue); /* Color del checkbox */
  }
  
  .step2-card p {
    font-size: 0.875rem;
    color: var(--blue);
  }
  
  .step2-card .costo {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--blue);
  }
  
  .step2-selected-areas {
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--dark-grey);
    border-radius: 0.5rem;
    background-color: var(--light);
  }
  
  .step2-selected-areas h3 {
    font-weight: 600;
    color: var(--blue);
    margin-bottom: 1rem;
  }
  
  .step2-selected-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .step2-selected-card {
    border: 1px solid var(--dark-grey);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #e7f2f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .step2-selected-card button {
    background-color: var(--red);
    color: var(--light);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .step2-selected-card button:hover {
    background-color: #c82333;
  }