.costs-container {
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
}

.costs-container h2 {
  color: var(--blue);
  margin-bottom: 0.5rem;
  text-align: center;
}

.costs-container p {
  color: var(--dark);
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: var(--lato);
}

.costs-btn-primary {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 7px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.costs-btn-primary:hover {
  background-color: #218838;
}