.costs-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-submit-azul {
  background: var(--blue-color);
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-green:hover {
  background: #218838;
}

/* Estilos para costos registrados */
.costs-title {
  margin-top: 20px;
  font-size: 18px;

  font-weight: bold;
  color: #333;}

.costs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.cost-card {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.cost-card:hover {
  border-color: #bbb;
}

.cost-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.cost-amount {
  color: #0e28cb;
}

.cost-id {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 500px) {
  .costs-container {
    width: 90%;
  }

  .cost-card {
    padding: 10px;
  }

  .tab-button {
    font-size: 14px;
  }
}

