.category-container {
    max-width: 100%;
    margin: auto;
    padding: 40px;
    font-family: var(--poppins);
  }
  
  .category-container .button {
    background-color: var(--blue);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
  }
  
  .category-container .button:hover {
    background-color: #35597e;
  }

  .view-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .view-toggle {
    margin-left: 1rem;
  }
  
  .view-toggle label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
