.icon {
    font-size: 1.2rem; 
    margin-right: 0px;
  }
  
  .brand .icon {
    font-size: 1.5rem; 
  }
  
  .side-menu li a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .side-menu li.active a {
    background-color: #f0f0f0; /* Estilo para el menú activo */
    border-radius: 5px;
  }



  #sidebar.hide .side-menu li a .text {
    display: none;
}

#sidebar.hide .side-menu li a .icon {
    display: block;
    margin-right: 0; /* Elimina el margen derecho para que el icono quede centrado */
}

#sidebar.hide .brand .text {
    display: none;
}

#sidebar.hide .brand .icon {
    display: block;
    margin-right: 0; /* Elimina el margen derecho para que el icono quede centrado */
}