@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--lighter: #ffffff;
	--blue: #033771;
	--light-blue: #CFE8FF;
	--light-blue2: #F4F9FF;
	--dark-grey: #E2E2E2;
	--red: #EA0613;
	--yellow: #C8D444;
	--grey: #eee;
	--light-yellow: #FFF2C6;
	--dark: #342E37;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--border-gray: rgb(0, 0, 0, 20%);
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #13305a;
	--grey: #334b75;
	--dark: #6D6E70;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* main{
	padding: 0 0 0 0;
} */
.top-container{
  margin-top: 3vh;
  margin-right: 8vh;
  margin-left: 8vh;
}
.page-padding{
  margin-top: 3vh;
  margin-right: 8vh;
  margin-left: 8vh;
}