:root {
  --primary-color: #FF6347; 
  --secondary-color: #32CD32;  
  --tertiary-color: #20B2AA;
  --font-size-base: 16px;
  --gray-color: #e2e2e2;
  --yellow-color: #FFD700; 
  --blue-color: #033771;
  --red-color: #ea0613;
  --purple-color: #8A2BE2;
  --orange-color: #FFA500; 
  }
  
  body {
    background-color: var(--primary-color); 
    font-size: var(--font-size-base);
    font-family: 'DM Sans', sans-serif;
  }

  .btn-general {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    width: 80%;

    display: inline-block;
    position: relative;
    text-align: center;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 2px;

    line-height: 3em;
    padding-left: 5em;
    padding-right: 5em;

    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in; 
}

.btn-general:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(3, 55, 113, 0.5);
    background-color: var(--blue-color);
    transition: all 0.2s ease-out;
}

.btn-general:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

.btn-general:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;

    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
}

/* Animación shine*/
@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
.btn-general:hover:before {
    animation: shine 0.5s 0s linear;
}

.error-input{
    border: 2px solid var(--red-color) !important;
}

.error-message{
  color: var(--red-color);
}

.icon:hover{
    animation: sacudida 0.9s both;
}

/* Animacion de hover tipo rotacion*/
@keyframes sacudida {
	0%,
	100% {
	  transform-origin: top;
	}
  
	15% {
	  transform: rotateZ(10deg);
	}
  
	30% {
	  transform: rotateZ(-10deg);
	}
  
	45% {
	  transform: rotateZ(5deg);
	}
  
	60% {
	  transform: rotateZ(-5deg);
	}
  
	75% {
	  transform: rotateZ(2deg);
	}
  }