.excel-upload-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
    background-color: #F4F9FF;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  .upload-and-archive{
    display: flex;
    gap: 10%;    
  }
  .upload-left,
  .upload-right {
    flex: 1;
  }
  
  .upload-left h3,
  .upload-right h4 {
    color: var(--blue);
    margin-bottom: 10px;
  }
  
  .upload-left p,
  .upload-right p {
    color: var(--secondary-color);
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .upload-button {
    display: flex;
    align-items: center;
    background-color: #1d4ed8;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 14px;
    transition: background 0.2s ease;
  }
  .input-file {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
  }
  .upload-button .icon {
    margin-right: 8px;
  }
  
  .upload-button:hover {
    background-color: #2563eb;
  }
  
  .file-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #1e293b;
    margin-bottom: 8px;
  }
  
  
  .file-size {
    font-size: 12px;
    color: #64748b;
  }
  
  .formats {
    font-size: 12px;
    color: #64748b;
  }
  
  .tips-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .tips-header h4 {
    margin: 0;
  }
  
  .tips-label {
    background-color: #d9f99d;
    color: #3f6212;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
    font-weight: bold;
  }
  
  .tips-list {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #444;
  }
  
  .download-template {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #1d4ed8;
    font-weight: 500;
    text-decoration: none;
  }
  
  .download-template:hover {
    text-decoration: underline;
  }
  